body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
    text-align: center;
  }
  
  h1 {
    color: #3e1f1f;
    
  }
  
  ol {
    color: rgb(64, 64, 144);
    text-align: justify;
  }
  
  ul {
    color: green;
    text-align: justify;
  }
  
  .custom-background {
    background-color: rgb(109, 109, 3);
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  a {
    color: rgb(71, 34, 71);
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration: underline;
  }